<footer class="footer-32892 pb-0">
    <div class="container">
      <div class="row">
        <div class="col-md pr-md-5 mb-4 mb-md-0">
          <h3>About Us</h3>
          <p class="mb-4">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam
            itaque unde facere repellendus, odio et iste voluptatum aspernatur
            ratione mollitia tempora eligendi maxime est, blanditiis accusamus.
            Incidunt, aut, quis!
          </p>
          <ul class="list-unstyled quick-info mb-4">
            <li>
              <a href="#" class="d-flex align-items-center">
                <img src="https://img.icons8.com/ios-filled/50/FD7E14/phone-disconnected.png"/>
                  +1 291 3912 329
                </a>
            </li>
            <li>
                <a href="#" class="d-flex align-items-center">
                <img src="https://img.icons8.com/ios-filled/50/FD7E14/filled-message.png"/>
                <span
                  class="__cf_email__"
                  data-cfemail="dab3b4bcb59abdb7bbb3b6f4b9b5b7">
                    travel@gmail.com
                   </span>
                </a>
            </li>
          </ul>
          <form action="#" class="subscribe">
            <input
              type="text"
              class="form-control"
              placeholder="Enter your e-mail"
            />
            <input type="submit" class="btn btn-submit" value="Send" />
          </form>
        </div>
        <div class="col-md mb-4 mb-md-0">
          <h3>Latest Tweet</h3>
          <ul class="list-unstyled tweets">
            <li class="d-flex">
              <div class="mr-4"><span class="icon icon-twitter"></span></div>
              <div>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere
                unde omnis veniam porro excepturi.
              </div>
            </li>
            <li class="d-flex">
              <div class="mr-4"><span class="icon icon-twitter"></span></div>
              <div>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere
                unde omnis veniam porro excepturi.
              </div>
            </li>
            <li class="d-flex">
              <div class="mr-4"><span class="icon icon-twitter"></span></div>
              <div>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere
                unde omnis veniam porro excepturi.
              </div>
            </li>
          </ul>
        </div>
        <div class="col-md-3 mb-4 mb-md-0">
          <h3>Instagram</h3>
          <div class="row gallery">
            <div class="col-6">
              <a href="#"
                ><img src="https://imgcp.aacdn.jp/img-a/1720/auto/global-aaj-front/article/2017/04/58eade729ca58_58eade59e347e_235268398.jpg" alt="Image" class="img-fluid"
              /></a>
              <a href="#"
                ><img src="https://img.kapook.com/u/2016/suppaporn/japan/20rank/rank02.jpg" alt="Image" class="img-fluid"
              /></a>
            </div>
            <div class="col-6">
              <a href="#"
                ><img src="https://v4i.rweb-images.com/w51336928.readyplanet.site/images/content/original-1552964090762.jpg" alt="Image" class="img-fluid"
              /></a>
              <a href="#"
                ><img src="https://content.shopback.com/th/wp-content/uploads/2019/10/21100323/Pic_26.jpg" alt="Image" class="img-fluid"
              /></a>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="py-5 footer-menu-wrap d-md-flex align-items-center">
            <div class="copyright">© Copyright ©2023 All rights reserved.
            </div>
            <div class="copyright1">
                This project is made with  by What the Travel.com
            </div>
            
          </div>
        </div>
      </div>
    </div>
</footer>
