html,body {
    height:100%;
    position: relative;
    
  }
  nav .navbar-nav .nav-link,
  nav .navbar-brand {
     color: #ffffff;
  }
  .btn {
  
    background-color: orangered;
  }
  .login:hover {
    background-color: rgb(212, 212, 203);
    color: #d4d4d4;
  }