<div class="font01">
    <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
        <div class="col-md-6 px-0">
            <h1 class="display-4 padding04">About</h1>
            <p class="lead my-1">
                &nbsp;&nbsp;&nbsp;&nbsp; Our website is a source of comprehensive travel information throughout Thailand
                and
                abroad. We focus
                onproviding accurate and complete information to users. To help people who are interested in traveling
                can
                plan their trip completely and quickly.
            </p>
        </div>
    </div>

    <div class="container marketing">
        <!-- เนื้อหา1 -->
        <hr class="featurette-divider">

        <div class="row featurette">
            <h2 class="center01 text-white">Interesting Attractions</h2>
            <div class="col-md-7">
                <h2 class="featurette-heading text-white">
                    China (ประเทศจีน)
                    <p class="text-muted">Great Wall Of China (กำแพงเมืองจีน)</p>
                </h2>
                <p class="lead text-white">
                    &nbsp;&nbsp;&nbsp;&nbsp; The Great Wall of China was built more than 2,500 years ago with the goal
                    of
                    protecting the North from
                    Mongolian and Turkic invasions. The Great Wall of China is 21,196 kilometers long and covers more
                    than
                    15 provinces across China. It looks like a long wall with a fort separating it.
                </p>
            </div>
            <div class="col-md-5">
                <img class="img bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
                    preserveAspectRatio="xMidYMid slice" focusable="false"
                    src="https://www.govivigo.com/content/ideas/5633/56339a3bec60adb92a8b4587-2-full-ideas.jpg"
                    alt="image">
            </div>
        </div>

        <!-- เนื้อหา2 -->
        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading text-white">
                    Peru (ประเทศเปรู)
                    <span class="text-muted">Machu Picchu (มาชูปิกชู) </span>
                </h2>
                <p class="lead text-white">
                    &nbsp;&nbsp;&nbsp;&nbsp; Machu Picchu is located about 70 kilometers northwest of Cusco. Inside are
                    the
                    ruins of temples,
                    palaces, fountains and altars, and other intricate pieces of architecture. The explorers have
                    invented
                    many theories for the construction of Machu Picchu, for example, to worship God. as a vacation home
                    for
                    the Inca emperor It is an agricultural experimental station. It is a place for rituals related to
                    astronomy, etc. The highlight of Machu Picchu is at the Guardhouse, where friends can see a
                    beautiful
                    panoramic view of Machu Picchu. However, visiting Machu Picchu to get more enjoyment should go
                    during
                    the winter months from May to October. Because it's a rain-free period, make travel comfortable.
                </p>
            </div>
            <div class="col-md-5 order-md-1">
                <img class="img bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
                    preserveAspectRatio="xMidYMid slice" focusable="false"
                    src="https://www.ktc.co.th/pub/media/Travel-Story/America/machu-picchu/machu-picchu-1.webp"
                    alt="image">
            </div>
        </div>

        <!-- เนื้อหา3 -->
        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading text-white">
                    India (ประเทศอินเดีย)
                    <span class="text-muted">Taj Mahal (ทัชมาฮาล)</span>
                </h2>
                <p class="lead text-white">
                    &nbsp;&nbsp;&nbsp;&nbsp; The Taj Mahal is the only modern wonder of the world born of the power of
                    love.
                    It is both a monument to
                    love and timeless architecture. Located in Agra India Made from pure white marble and laterite.
                    adorned
                    with many jewels To be used as a burial monument of the emperor's wife, Shah Jahan, who loved each
                    other
                    for 18 years.<br />
                    The Taj Mahal is 42 acres in size and took 22 years to build. The best time to visit is during
                    sunrise.
                    Because the sky will be a beautiful pink cool weather and people are not crowded
                </p>
            </div>
            <div class="col-md-5">
                <img class="img bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
                    preserveAspectRatio="xMidYMid slice" focusable="false"
                    src="https://www.expedia.co.th/stories/wp-content/uploads/2022/07/1.Taj-Mahal-1.jpg" alt="image">
            </div>
        </div>
        <!-- ติดต่อ -->
        <hr class="featurette-divider">
        <div class="row padding02 padding01">
            <h2 class="text-white padding03">ABOUT US</h2>
            <div class="col row">
                <div class="profile">
                    <div class="profile-image">
                        <img
                            src="https://cdn.discordapp.com/attachments/1042794156621303888/1095777194120331366/IMG_20220122_135630_286.jpg" />
                    </div>
                    <h2 class="profile-username">Supagon Boonsuwan</h2>
                    <small class="profile-user-handle">@sinny_supagon</small>
                    <div>Contact : +66 80 034 9211</div>
                    <div class="profile-actions">
                        <button class="btn btn--primary">
                            <a href="https://instagram.com/sinny_supagon?igshid=YmMyMTA2M2Y=">Follow</a>
                        </button>
                    </div>

                </div>
            </div>
            <div class="col row">
                <div class="profile">
                    <div class="profile-image">
                        <img
                            src="https://cdn.discordapp.com/attachments/1042794156621303888/1095775152492523571/IMG_7321.png" />
                    </div>
                    <h2 class="profile-username">Jiruschode Saardying</h2>
                    <small class="profile-user-handle">@_chillaic_</small>
                    <div>Contact : +66 62-996-2646</div>
                    <div class="profile-actions">
                        <button class="btn btn--primary">
                            <a href="https://instagram.com/_chillaic_?igshid=YmMyMTA2M2Y=">Follow</a>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--  -->
