<div id="header-carousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <!--slide 1-->
      <div class="carousel-item active">
        <img
          class="img"
          src="https://images.unsplash.com/photo-1542640244-7e672d6cef4e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80"
          alt="Image"
        />
        <div class="carousel-caption">
          <div class="container">
            <div class="row justify-content-start">
              <div class="col-lg-8 text-start">
                <h1 class="display-1 text-white mb-5 animated slideInRight">
                  Tour around the world with the new destination
                  <p></p>
                  <p class="fs-6 text-white">
                    We believe in a traveling experience by providing our tour
                    plan the suits your best!
                  </p>
                </h1>
                <a
                  routerLinkActive="active "
                  routerLink="/CatCare"
                  class="btn text-white py-3 px-5 animated slideInRight"
                  >ExploreMore</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--slide 2-->
      <div class="carousel-item">
        <img
          class="img"
          src="https://mobimg.b-cdn.net/v3/fetch/7d/7d8efcfe9f9074e343ae3b6262d7360f.jpeg"
          alt="Image"
        />
        <div class="carousel-caption">
          <div class="container">
            <div class="row justify-content-start">
              <div class="col-lg-8 text-start">
                <h1 class="display-1 text-white mb-5 animated slideInRight">
                    Tour around the world with the new destination
                    <p></p>
                    <p class="fs-6 text-white">
                      We believe in a traveling experience by providing our tour
                      plan the suits your best!
                    </p>
                </h1>
                <a routerLinkActive="active "
                   routerLink="/users"
                   class="btn text-white py-3 px-5 animated slideInLeft">
                   Explore More
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--slide 3-->
      <div class="carousel-item">
        <img
          class="img"
          src="https://i.pinimg.com/originals/19/5e/cb/195ecbf7344aee3b58129c55e64fe735.jpg"
          alt="Image"
        />
        <div class="carousel-caption">
          <div class="container">
            <div class="row justify-content-start">
              <div class="col-lg-8 text-start">
                <h1 class="display-1 text-white mb-5 animated slideInRight">
                    Tour around the world with the new destination
                    <p></p>
                    <p class="fs-6 text-white">
                      We believe in a traveling experience by providing our tour
                      plan the suits your best!
                    </p>
                </h1>
                <a routerLinkActive="active "
                   routerLink="/users"
                   class="btn text-white py-3 px-5 animated slideInLeft">
                   Explore More
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    

    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#header-carousel"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#header-carousel"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

