<div class="container-fluid mx-3 my-5">
  <h1>Explore place around Thailand</h1>
  <div class="container-fluid">
    <div class="row row-cols-1 row-cols-md-3 g-4 m-1">
      <div class="col-3" *ngFor="let tour of Ddata">
        <div class="card">
          <img [src]="tour.img" class="card-img-top" alt="tour" />
          <div class="card-body">
            <h5 class="card-title">{{tour.idTour}}</h5>
            <p class="card-text">
               {{tour.location}}
               {{tour.place}}
            </p>
          </div>
        </div>
      </div>
      <!-- <div class="col-3">
        <div class="card">
          <img
            src="https://i.pinimg.com/originals/52/cd/68/52cd684e339cedd75def5cfeb846ce9f.jpg"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">
              This is a longer card with supporting text below as a natural
              lead-in to additional content. This content is a little bit
              longer.
            </p>
          </div>
        </div>
      </div> -->
      <!-- <div class="col-3">
        <div class="card">
          <img src="https://wallpaperaccess.com/full/3207279.jpg" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">
              This is a longer card with supporting text below as a natural
              lead-in to additional content.
            </p>
          </div>
        </div>
      </div> -->
      <!-- <div class="col-3">
        <div class="card">
          <img
            src="https://w0.peakpx.com/wallpaper/934/213/HD-wallpaper-krabi-hong-islands-sunset-evening-tropical-island-beach-thailand.jpg"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">
              This is a longer card with supporting text below as a natural
              lead-in to additional content. This content is a little bit
              longer.
            </p>
          </div>
        </div>
      </div> -->
    </div>
  </div>
</div>
