<div class="container-fluid my-5">
  <div class="row m-3">
    <div class="col-9">
      <div class="row">
        <div class="col-3">
          <div class="row-1 py-1" *ngFor="let img of Ddata.arrayimg">
            <img id="imgsmall" (click)="getImg(img)" [src]="img" alt="tour" />
          </div>
          <!-- <div class="row-1 py-1"><img id="imgsmall" src="https://wallpapercave.com/wp/wp4190142.jpg" alt="tour" /></div>
            <div class="row-1 py-1"><img id="imgsmall" src="https://wallpapercave.com/wp/wp4190142.jpg" alt="tour" /></div>
            <div class="row-1 py-1"><img id="imgsmall" src="https://wallpapercave.com/wp/wp4190142.jpg" alt="tour" /></div>
            <div class="row-1 py-1"><img id="imgsmall" src="https://wallpapercave.com/wp/wp4190142.jpg" alt="tour" /></div> -->
        </div>
        <div class="col-9 py-1">
          <img id="img" [src]="imgSelect || Ddata.img" alt="tour" />
        </div>
      </div>
    </div>
    <div class="col-3 text-white">
      <div class="card text-dark p-3">
        <h3>{{ Ddata.tourId }}</h3>
        <h5>Thailand {{ Ddata.location }},{{ Ddata.place }}</h5>
        <div>
          Max group size : {{ Ddata.amountReceived }}<br />
          ageRange : {{ Ddata.ageRange }}<br />
          tourOperator : {{ Ddata.ageRange }}<br />
          operatedIn : {{ Ddata.operatedIn }}<br />
          <i class="bi bi-cash"></i> {{ Ddata.pricePerPerson }} THB
        </div>
        <a class="btn text-white w-100 m-3">
          <b>Book</b>
        </a>
      </div>
    </div>
  </div>
  <div class="row">
    Introduction
  </div>
</div>
