h1 {
    color: #ffffff;
    font-family: 'IBM Plex Sans Thai', sans-serif;
  font-family: 'Itim', cursive;
  font-family: 'Niramit', sans-serif;
  font-family: 'Noto Serif Thai', serif;
  }
  /* mobile */
@media (max-width: 575.98px) {
    .box {

        padding: 64px 32px;
    }
}

/* tablet or ipad */
@media (min-width: 768px) {
    .box {

        padding: 64px 64px;
    }
}

/* mac */
@media (min-width: 1199.98px) {
    .box {

        padding: 64px 150px;
    }
}

/* pc */
@media (min-width: 1399.98px) {
    .box {

        padding: 64px 300px;
    }
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
  }
  #nodata{
    width: fit-content;
    height: fit-content;
  }
  
  a {
    text-decoration: none;
    color: #000;
  }
  /* .card{
    background-color: #ffffff;
    border: 1px solid black;
  } */
  
  